// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

a {
  color: $brand-primary;
  &:focus,
  &:hover,
  &:active {
    color: darken($brand-primary, 10%);
  }
}

.btn {
  border-width: 2px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 4px;
}

.bg-primary {
  background-color: $brand-primary !important;
}

.bg-secondary {
  background-color: $brand-secondary !important;
}

.btn.bg-white {
  color: $green-x-dark;
  &:hover,
  &:focus,
  &:active {
    background-color: $gray;
    border-color: $gray;
    color: $green-x-dark;
  }
}

.text-primary {
  color: $brand-primary !important;
}

.text-secondary {
  color: $brand-secondary !important;
}

.btn-primary {
  background-color: $brand-primary;
  border-color: $brand-primary;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: darken($brand-primary, 10%);
    border-color: darken($brand-primary, 10%);
  }
}

.btn-secondary {
  color: $white;
  background-color: $brand-secondary;
  border-color: $brand-secondary;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: darken($brand-secondary, 10%);
    border-color: darken($brand-secondary, 10%);
  }
}

.btn-tertiary {
  color: $white;
  background-color: $brand-tertiary;
  border-color: $brand-tertiary;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: darken($brand-tertiary, 10%);
    border-color: darken($brand-tertiary, 10%);
  }
}

.btn-info {
  background-color: $brand-info;
  border-color: $brand-info;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: darken($brand-info, 10%);
    border-color: darken($brand-info, 10%);
  }
}

.btn-success {
  background-color: $brand-success;
  border-color: $brand-success;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: darken($brand-success, 10%);
    border-color: darken($brand-success, 10%);
  }
}

.btn-warning {
  background-color: $brand-warning;
  border-color: $brand-warning;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: darken($brand-warning, 10%);
    border-color: darken($brand-warning, 10%);
  }
}

.btn-danger {
  background-color: $brand-danger;
  border-color: $brand-danger;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: darken($brand-danger, 10%);
    border-color: darken($brand-danger, 10%);
  }
}

.input-group-btn .btn {
  border-width: 1px;
}

.panel-default {
  background-color: $gray;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
    color: $brand-tertiary;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid $gray;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
        margin-left: 0;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li > a {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    .collapse.in{
        display: block !important;
        overflow-y: auto !important;
    }
}