// Customisations Specifically for APT

body {
	color: $gray-base;
}

body.navbar-is-fixed-top {
	margin-top: 113px;
	padding-top: 0 !important;
	&.toolbar-fixed {
		margin-top: 152px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $green-x-dark;
}

form {
	.form-group {
		margin-top: 10px;
		label {
			text-transform: uppercase;
			color: $green-x-dark;
		}
		.form-control {
			color: $gray-base;
		}
	}
	.help-block {
		color: $gray-darker;
	}
}

.panel-default {
	> .panel-heading {
		color: $green-x-dark;
	}
}

.content-row {
	margin: 15px 0;
}

.btn-resource {
	position: relative;
	line-height: 100%;
	.fa {
		line-height: normal;
	}
	.btn-text {
		display: inline-block;
    	width: 70%;
    	text-align: left;
		white-space: nowrap; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	}
}

/*APT Custom Navbar */
#apt-navbar {
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  	-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
	.navbar-header {
		float: left;
		.navbar-brand {
			height: 60px;
			img {
				height: 100%;
			}
		}
		.navbar-toggle {
			margin-right: 0;
			margin-top: 13px;
			margin-bottom: 13px;
			@media (max-width: 767px) {
		      margin-right: 15px;
		    }
		}
		@media (max-width: 991px) {
	      float: none;
	    }
	}
	.navbar-nav {
		text-align: center;
    	text-transform: uppercase;
    	letter-spacing: 0.05em;
    	font-weight: 600;
    	li > a {
    		line-height: 32px;
    		/* padding: 15px 10px; Uncomment this line if account menu is enabled */
    		@media (min-width: 992px) and (max-width: 1199px) {
    			padding: 15px 6px;
    		}
    	}
	}
	.region-navigation {
		width: auto;
    	display: inline-block;
    	margin: 0;
    	padding: 0;
    	float: right;
    	@media (max-width: 991px) {
    	  width: 100%;
	    }
	}
	#account-menu {
		@media (max-width: 991px) {
			display: none;
		}
		&.navbar-right {
			margin-right: 0 !important;
			@media (max-width: 991px) {
		      float: none !important;
		    }
		}
		ul.navbar-nav {
			li {
				display: inline;
				a {
					display: inline-block;
					background: $green;
					color: $white;
					border-radius: 4px;
					padding: 3px 10px;
    				margin: 12px 5px;
    				@media (max-width: 1199px) {
						padding: 6px 10px;
    					margin: 18px 5px;
					}
					&:hover,
					&:focus,
					&:active {
					   background-color: darken($green, 10%);
					   border-color: darken($green, 10%);
					}
					.account-menu-title {
						@media (max-width: 1199px) {
							display: none;
						}
					}
				}
			}
		}
	}
}

/* APT Page Header Area */
#page-header {
  background: $blue-light url('../images/page-header-bg.png');
  background-size: cover;
  padding: 15px;
  color: $white;
  #header-left,
  #header-right {
    min-height: 125px;
    display: table;
    @media (max-width: 582px) {
      min-height: 0;
    }
    .header-content {
      display: table-cell;
      vertical-align: bottom;
      h1, h2, h3, h4, h5, h6 {
      	color: $white;
      }
      .btn {
        margin-right: 4px;
        &:last-child {
          margin-right: 0;
        }
      }
      .btn-group {
        .btn {
          margin-right: 0;
        }
      }
    }
  }
  #header-left {
    text-align: left;
  }
  #header-right {
    text-align: right;
  }
  .breadcrumb {
    display: inline-block;
    margin-bottom: 0;
    background: $green-x-light;
    a {
	  color: $green-x-dark;
	  &:focus,
	  &:hover,
	  &:active {
	    color: darken($green-x-dark, 10%);
	  }
	}
  }
}

/* Page top for alerts, messages and help text */
#page-top {
	margin-top: 15px;
	margin-bottom: 15px;
}
/* Main Section */
#main-section {
	#about-footer,
	#sector-footer {
		padding-top: 30px;
    	padding-bottom: 40px;
    	background: $green-dark url('../images/sprep-pattern-dark.png');
		background-size: cover;
		h1, h2, h3, h4, h5 {
			color: $white;
			margin: 15px 0;
		}
	}
	blockquote {
	    background: $white;
	    border: 1px solid #ddd;
	    padding: 30px;
	    font-size: 22px;
	    color: $brand-tertiary;
	    border-top: 7px solid $brand-primary;
	    border-radius: 6px;
	}
	blockquote:before {
	  content: "\f10d"; 
	  font-family: FontAwesome;
	  font-style: normal;
	  font-weight: normal;
	  text-decoration: inherit;
	  float:left;
	  font-size: 30px;
	  color: rgba(0,0,0,.2);
	  margin: -8px 8px 0px -8px;
	  z-index: 1;
	}
}

/* apt Partners Area */
#apt-partners {
  background-color: $white;
  padding: 30px 0;
  .footer-logos {
  	text-align: center;
	a {
		padding:0 1.5em;
		&:hover {
			opacity:0.6;
		}
	}
  }
}

.content {
	.field.field--name-field-subtitle {
		display: none; /* Hiding it from the page for now */
		text-align: center;
	    font-size: 20px;
	    font-weight: 300;
	    color: rgba(0,0,0,.5);
	    margin: 10px 20px;
	}
}


.planning-framework-phase > .content > .field {
	padding:2em 0;

	&.field--name-field-breadcrumb {
		padding:0;
	}
}
.region-header {
	nav {
 
		.menu.nav {
			position:absolute;
			right:0px;
			display: inline-block;
    		float: none;

			li a {
				padding:8px 12px 5px;
				border-bottom-left-radius: 2px;
				border-bottom-right-radius: 2px;
			}
		}

	}
}
/*.region-navigation {
	nav#block-apt-theme-account-menu {
        float: right;
	    margin-top: -30px;
	    font-size: 0.9em;
	    height: 30px;
	    right: 30px;

		a {
			padding: 5px 10px;
    		background: $brand-tertiary;

    		&:hover {
    			background: darken($brand-tertiary, 10%);
    		}
		}
	}
	nav {
		text-align: center;
		height:50px;

		.menu.nav {

			display: inline-block;
    		float: none;
    	}
    }
}*/
.planning-framework-table {

		div {
			margin:0;
		}

		>div:nth-child(3) {
			.stage-title {
				h3 {
					top:35px;
				}
			}
		}

		.stage-top {
			background:darken($brand-primary, 10%);
			color:white;
			text-transform: uppercase;
			text-align: center;
			padding:0.35em 0;
		}

		.stage-title {
			background:$brand-primary;
			height:120px;

			h3 {
				font-weight: 600;
				color:white;
				text-align: center;
				z-index: 100;
    			position: relative;
    			vertical-align: middle;
    			margin:0;
    			top:50px;
    			line-height:1.1em;

			}
			span.background-text {
				text-align: center;
				font-size: 5.5em;
				font-weight: 600;
				opacity: 0.2;
				z-index: 1;
				position: absolute;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;
			}
		}
		.stage-desc {
			border: 2px solid $brand-primary;
			padding:.5em 1.5em 1.5em 1.5em;
			text-align: center;

			.btn {
				width:100%;
				color: white;
				background:$brand-tertiary;

				&:hover {
					background:darken($brand-tertiary, 15%);
				}
			}
		}
}
table {
	margin-bottom:2em;

	&.home-table {
		border-spacing: 1em;
	    border-collapse: separate;

	    td {
	    	background:lighten($brand-primary, 10%);
	    	color:white;
	    	padding:1em;

	    	h3, p {
	    		color:white;
	    		margin:.5em 0;

	    		
	    	}
	    	a, a:hover {
    			color:white;
    		}

    		.btn {
    			background:$brand-tertiary;
    		}
	    }
	}

	&.planning-framework-table {

		td {
			padding:.5em 1em;
		}

		tr {
			td {
				border: 1px solid lighten($brand-primary, 10%);
				font-size:0.9em;
				p {
					padding-top:1em;
				}
				.btn {
	    			background:$brand-tertiary;
	    			color:white;
	    		}
			}
			td:nth-child(even){ 
				border:0px solid #000;
			}
		}

		tr:first-child {

			i {
				font-size:1.6em;
				text-align: center;
			}

			td:nth-child(odd){
				background:lighten($brand-primary, 10%);
				a {
					color:white;
				}
			}
		}
	}

	&.sector-guideline-table {

		width:100%;

		i {
			font-size:1.6em;
			text-align: center;
		}

		td {
			padding:1em;
			
			vertical-align: middle;
			a {
				padding:1em;
				color:$brand-primary;
				display:block;
				border:2px solid lighten($brand-primary, 30%);

				&:hover {
					background:$brand-primary;
					border:2px solid $brand-primary;
					color:white;
					text-decoration: none;
				}
			}
		}

		&.water-resources {
			td a {
				color:#3498db;
				border:2px solid lighten(#3498db, 30%);
				background:lighten(#3498db, 40%);
				&:hover {
					background:#3498db;
					border:2px solid #3498db;
					color:white;
				}
			}
		}
		&.coastal-risk {
			td a {
				color:#2ecc71;
				border:2px solid lighten(#2ecc71, 30%);
				background:lighten(#2ecc71, 40%);
				&:hover {
					background:#2ecc71;
					border:2px solid #2ecc71;
					color:white;
				}
			}
		}
		&.food-security {
			td a {
				color:#e74c3c;
				border:2px solid lighten(#e74c3c, 10%);
				background:lighten(#e74c3c, 30%);
				&:hover {
					background:#e74c3c;
					border:2px solid #e74c3c;
					color:white;
				}
			}
		}
	}

	tr td {
		vertical-align: top;
		padding-bottom:1em;
		padding-right:2em;

		p {
			margin-bottom:.5em;
		}
		&.v-middle {
			vertical-align: middle;

			
		}
		&.v-bottom {
			vertical-align: bottom;
		}
	}
}
.field--type-text-with-summary {
	hr {
		margin:1.5em 0;
	}
}

.page-box {
	background:$gray-lighter;
	border: 1px solid darken($gray-lighter, 10%);
	padding:0 1.5em 1.5em;
	text-align: center;
	margin-top:2em;
}
.sub-content {
    background: rgba(0,0,0,.05);
    border: 1px solid #ddd;
    padding: 1em 1.5em;
    margin-bottom: 2em;
}
.anchor-container {
	text-align: center;
	width: 100%;
	.anchors {
	    background: white;
	    border: 1px solid $brand-primary;
	    padding: 0.5em;
	    text-align: center;
	    box-shadow: 0px 3px 5px rgba(0,0,0,.1);
	    display:inline-block;
	    
	    ul {
		    list-style-type: none;
		    padding: 0;
		    margin: 0;

			li {
			    display: inline-block;
			    margin: 0 1em;
			    padding: 0;

				a {
	    			font-weight: 500;
	    		}
	    	}
	    }
	}
}
.sector-thumb {

	&.water-resources {
		background-color: $blue-x-light;
	}
	&.coastal-risk {
		background-color: $brand-success;
	}
	&.food-security {
		background-color: $brand-warning;
	}

	height: 180px;
	overflow:hidden;

	img {
		width:100%;
	}

	h3 {
	    position: absolute;
	    top: 100px;
	    font-size: 30px;
	    font-weight: 700;
	    color: white;
	    text-align: center;
	    margin-left: auto;
		margin-right: auto;
		left: 0;
		right:0;
	    text-shadow: 0px 1px 5px rgba(0,0,0,.75);
	}

	&:hover {
		img {
			opacity:0.5;
		}

	}
}
.view .item-list {
	> ul {
		list-style-type: none;
		padding-left:0;
		margin:2em 0;

		> li {
		    width: 30%;
		    display: inline-block;
		    vertical-align: top;
		    margin-right: 3%;
		    border: 1px solid #ddd;
		    padding: 1em;

		    &:nth-of-type(3n+0) {
		    	margin-right:0;
		    }

		    &:nth-of-type(3n+1) {
		    	clear:left;
		    }

		    h2 {
		    	margin-top:0;
		    }
		}
	}
}

.clear {
	clear:both;
}

h1.page-header {
	text-align: center;
}

.arrow-bar.affix, .anchor-container.affix {
    top: 70px;
    left: 0;
    z-index: 100;
}

div.pass-crumbs {

	text-align: center;
	ul {
		display:inline-block;
	    list-style-type: none;
	    padding-left: 0;
	    overflow:hidden;

	    li {
		    display: inline-block;
		    float: left; 
		    
		    a {
		    	position: relative;
			    display: block;
			    float: left;
		    	background: lighten($brand-primary, 20%);
		    	color: white;
		    	padding: .5em 0em .5em 2.8em;
		    	font-size: 1.2em;
    			font-weight: 500;
		    	transition: all 0s;
		    	-webkit-transition: all 0s;
		    	
		    	&:hover {
		    		background: $brand-primary;
		    		text-decoration: none;
		    	}
		    }

		    &.active a {
		    	background: $brand-primary;

		    	&:hover {
		    		text-decoration: none;
		    	}
		    }

		    a:after { 
				content: " "; 
				display: block; 
				width: 0; 
				height: 0;
				border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
				border-bottom: 50px solid transparent;
				border-left: 30px solid lighten($brand-primary, 20%);
				position: absolute;
				top: 50%;
				margin-top: -50px; 
				left: 100%;
				z-index: 2; 
			}

			&.active a:after {
				border-left: 30px solid $brand-primary;
			}

			a:hover:after {
				border-left: 30px solid $brand-primary;
			}

			a:before { 
				content: " "; 
				display: block; 
				width: 0; 
				height: 0;
				border-top: 50px solid transparent;       
				border-bottom: 50px solid transparent;
				border-left: 30px solid white;
				position: absolute;
				top: 50%;
				margin-top: -50px; 
				margin-left: 2px;
				left: 100%;
				z-index: 1; 
			}

			&:last-child a{
				padding-right:1.3em;
				&:after {
					border:0px;
				}
			}
			&:first-child a {
				padding-left:1.3em;
			}
		}
	}
}

// Left and right tabs.
/*.tabs-left,
.tabs-right {
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
    	box-shadow: none;
      	border-width:1px;
    }
	> .tab-content {   
	    box-shadow: none;
	    min-height:300px;
	}
}

.tabs-left,
.tabs-right {
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
		border: 1px solid #ddd;
		border-color: #ddd transparent #ddd #ddd;
		color:$brand-primary;
		background:white;
	}
	.nav-tabs > li > a { 
		border:1px solid transparent;
		box-shadow:none;
		font-size:1.1em;
		color:#222;
		transition:all 0s;
		background:rgba(0,0,0,.05);
		margin-bottom:5px;
	}
}*/

.arrow-bar {
	display: inline-block;
	width:100%;

	a {
		font-size: 1.2em;
	    vertical-align: middle;
	    line-height: 2.4em;

		span {
			font-size: 2.4em;
		    line-height: 1em;
		    float: left;
		    margin-right:15px;
		}
	}
	a:hover {
		background:$brand-primary;
		color:white;
		text-decoration: none;
	}
	.arrow:before,
	.arrow:after {
		content:'';
	    display: inline-block;
		width:0;
		height:0;
		border:40px solid transparent;
	    vertical-align: middle;
	}
	.arrow:before {
		border-top-color: $brand-primary;
		border-bottom-color: $brand-primary;
		border-right-color: $brand-primary;
	}
	.arrow:after {
		border-left-color: $brand-primary;
	}
}
input, textarea, select {
	background: rgba(0,0,0,.02) !important;
}
.path-user {
	.region-content nav.tabs {
		margin-bottom:1.5em;
	}
}
.form-required:after {
	background:none;
	content: "*";
	font-size:1.2em;
	vertical-align: top;
	color:red;
	font-weight:bold;
	margin-left:3px;
}
.field--name-field-breadcrumb {
	.field--item {
		display:inline-block;
		margin: 0 .35em 0 0;

		&:after {
			content: "\00bb";
			margin-left:0.5em;
		}
		&:last-child {
			a {
				cursor:default;
				color:darken($gray-lighter, 20%);

				&:hover {
					text-decoration:none;
				}
			}
			&:after {
				content: "";
			}
		}
	}	
}

#what-is-ap-page {
	margin-top: -30px;
	.row.what-is-ap {
		background: $gray-light;
		.definition {
			background: $gray;
			padding-top: 20px;
			padding-bottom: 20px;
			h2, h3, h4 {
				color: $green-x-dark;
				text-transform: uppercase;
				font-weight: 600;
			}
		}
		.diagram {
			background: $gray-light;
			img {
				padding-top: 30px;
				padding-bottom: 30px;
			}
		}
	}
	.row.principles-heading {
		background: $green-x-dark;
		h2, h3, h4 {
			margin: 20px 0;
			color: $white;
			text-transform: uppercase;
			font-weight: 600;
		}
	}
	.row.principles {
		background: lighten($green-x-light, 10%) url('../images/sprep-pattern.png');
		background-size: cover;
		padding-top: 20px;
		padding-bottom: 20px;
		h3 {
			background: $green;
			color: $white;
		    text-align: center;
		    padding: 10px 5px;
		    margin-top: 0;
		}
		ul {
			margin-bottom: 20px;
		}
		h4 {
			color: $orange-dark;
		}
		a.list-group-item {
			h4 {
				font-size: 14px;
			}
			p {
				font-size: 12px;
				overflow: hidden;
			}
		}
	}
	#resources-modal {
		.modal-body {
			background: $green url(../images/sprep-pattern-dark.png);
			.list-group {
				margin-top: 20px;
			}
		}
	}
}

