/* Styles inherited from the PCCP */

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	background: #f2f2f2;
    margin-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  color: $blue;
}

.bg-white {
  background: $white;
}
.bg-grey {
  background: $gray-light;
}
.bg-black {
  background: $black;
}
.bg-orange {
  background: $orange;
}
.bg-green {
  background: $green;
}
.bg-blue {
  background: $blue;
}
.bg-red {
  background: $red;
}

.text-white {
  color: $white;
}
.text-gray {
  color: $gray-darker;
}
.text-orange {
  color: $orange;
}
.text-green {
  color: $green;
}
.text-blue {
  color: $blue;
}
.text-red {
  color: $red;
}

hr.hr-short {
  width: 50px;
  height: 3px;
  background-color: $primary;
  color: $primary;
  border: 0 none;
  margin: 6px auto;
}

hr.hr-full {
  width: 100%;
  height: 3px;
  background-color: $primary;
  color: $primary;
  border: 0 none;
}

.separator {
  height: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  background: url('../images/separator.png') no-repeat center;
  background-size: auto 20px;
}
.section-heading {
  margin-top: 15px;
  margin-bottom: 30px;
  font-weight: 300;
  text-align: center;
}
.block-heading {
  font-weight: 600;
  text-transform: uppercase;
}

.row-eq-height {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.force-full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.panel-badge {
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -25px;
  background-color: $brand-primary;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  padding: 2px;
  strong {
    font-size: 14px;
    padding-top: 6px;
    display: block;
  }
}

.panel-heading a[data-toggle="collapse"]:after {
    float: right !important;
    font-family: FontAwesome;
    content:"\f146";
    padding-right: 5px;
}
.panel-heading a[data-toggle="collapse"].collapsed:after {
    float: right !important;
    content:"\f0fe";
}

/* PCCP Custom Logo */
#pccp-logo-container {
  width: 160px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -80px; /* half of width */
  z-index: 1000;
  background: $primary;
  padding: 8px 10px;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

/* PCCP Custom Navbar */
#pccp-navbar {
  background-color: $blue-dark;
  margin-bottom: 0;
  border-bottom: 3px solid $blue-x-light;
  .navbar-nav {
    li {
        a {
          color: $gray-light;
          &:hover, 
          &:focus {
            color: $white;
            background-color: $blue-x-dark;
          }
          @media (max-width: 1199px) {
            padding-right: 8px !important;
            padding-left: 8px !important;
          }
          @media (max-width: 991px) {
            padding-top: 8px !important;
            padding-bottom: 8px !important;
          }
        }
        &.active a {
          color: $white;
          background: $blue-x-dark;
          &:hover, 
          &:focus {
            color: $white;
            background: $blue-x-dark;
          }
        }
        @media (max-width: 991px) {
          display: block !important;
          float: none !important;
        }
      }
    }
    .dropdown-menu {
      background-color: $blue-dark;
      @media (max-width: 991px) {
        left: auto;
        right: 0;
      }
    }
    .navbar-header {
      float: none;
    }
    .logo {
      width: 140px;
      padding: 0;
      margin-right: 0;
    }
    .navbar-toggle {
      border-color: transparent;
      background-color: $blue-x-dark;
      margin: 8px 0;
      &:hover, 
      &:focus {
        color: $white;
        background-color: $blue-x-dark;
      }
      @media (max-width: 991px) {
        display: block !important;
      }
      @media (max-width: 767px) {
        margin-right: 15px;
      }
    }
    .navbar-collapse {
      border: none;
      &.collapse {
        &.in {
          @media (max-width: 991px) {
            display: block !important;
            overflow-y: auto !important;
          }
        }
        @media (max-width: 991px) {
          display: none !important;
        }
      }
    }
    .navbar-nav, .navbar-right {
      margin-right: 0 !important;
      @media (max-width: 991px) {
        float: none !important;
      }
    }
}

ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}
ul.nav li.dropdown ul.dropdown-menu {
  margin-top: 0;
}

/* PCCP Footer Area */
#pccp-footer {
  margin-top: 0px;
  border-top: none;
  background-color: $blue-x-dark;
  color: $white;
  .footer-top-row {
    padding: 30px 0;
    background-color: $blue-dark;
    h2 {
      color: $orange-x-light;
      font-weight: 400;
    }
    h4 {
      color: $white;
      font-weight: 300;
    }
  }
  .footer-bottom-row {
    padding: 15px 0;
    color: $blue-light;
    p {
      margin: 0;
    }
  }
}