{% if page.footer %}
  {% block footer %}
    <footer id="pccp-footer" class="main container-fluid" role="contentinfo">
        {{ page.footer }}
    </footer>
    <script type="text/javascript">
(function() {
var s = document.createElement("script");
s.type = "text/javascript";
s.async = true;
s.src = '//api.usersnap.com/load/'+
        'c2fd4f0d-9372-4b27-adf8-27df575dab6b.js';
var x = document.getElementsByTagName('script')[0];
x.parentNode.insertBefore(s, x);
})();
</script>
  {% endblock %}
{% endif %}