{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
<header role="banner" id="page-header" class="main container-fluid">
  <div class="row">
    <div class="container">  
      <div class="row row-eq-height">
        {% if page.header %}
          {% block header %}
            <div id="header-left" class="col-sm-8">
              <div class="header-content">

                {{ page.header }}

              </div>
            </div>
            <div id="header-right" class="col-sm-4">
              <div class="header-content">
              
              </div>
            </div>
          {% endblock %}
        {% endif %}
      </div>
    </div>
  </div>
</header>
<div id="page-top" class="container-fluid">
  <div class="row">
      {# Highlighted #}
      {% if page.highlighted %}
        {% block highlighted %}
          <div class="highlighted">{{ page.highlighted }}</div>
        {% endblock %}
      {% endif %}

      <div class="container">

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

      </div>

      {# Help #}
      {% if page.help %}
        {% block help %}
          {{ page.help }}
        {% endblock %}
      {% endif %}
  </div>
</div>