{# Navbar #}
<nav role="navigation" class="navbar navbar-default navbar-fixed-top navbar-main">
    <div id="pccp-navbar">
      <div class="container">
          <div class="row">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <div id="pccp-logo-container" class="navbar-brand">
                      <a href="{{ pccp_url }}">
                        <img class="logo" src="/themes/APT/images/pccp-header-logo.png" alt="PCCP">
                      </a>
                  </div>
                  <!-- <a class="navbar-brand visible-s" href="index.php"><img class="logo" src="{{ pccp_url }}/sites/all/themes/pccp/images/pccp-header-logo.png" alt="PCCP"></a> -->
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#pccp-menu" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse text-center" id="pccp-menu">
                  <ul class="nav navbar-nav">
                      <li><a href="{{ pccp_url }}"><i class="fa fa-home"></i> PCCP Home</a></li>
                      <!-- First half of menu -->
                      {# <li class="expanded active-trail dropdown">
                          <a href="{{ pccp_url }}/event-list" title="" class="active-trail dropdown-toggle active">What's On <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li>
                                  <a href="{{ pccp_url }}/event-list">Event List</a>
                              </li>
                              <li>
                                  <a href="{{ pccp_url }}/event-calendar">Event Calendar</a>
                              </li>
                          </ul>
                      </li>
                      <li class="expanded active-trail dropdown">
                          <a href="{{ pccp_url }}/e-resources" title="" class="active-trail dropdown-toggle active">Resources <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li>
                                  <a href="{{ pccp_url }}/sitesearch">Search Resources</a>
                              </li>
                              <li>
                                  <a href="{{ pccp_url }}/media-library">Media Library</a>
                              </li>
                              <li>
                                  <a href="http://www.solutionexchange-un.net/pacific/">Forum | Pacific Solution Exchange</a>
                              </li>
                              <li>
                                  <a href="http://www.sprep.org/WebPub/textbase/searchAlt.htm">Virtual Library | SPREP Library</a>
                              </li>
                              <li>
                                  <a href="http://ict.sopac.org/library">Virtual Library | SOPAC Library</a>
                              </li>
                              <li>
                                  <a href="http://www.library.usp.ac.fj/">Virtual Library | USP Library</a>
                              </li>
                              <li>
                                  <a href="{{ pccp_url }}/glossary">Glossary</a>
                              </li>
                          </ul>
                      </li>
                      <li class="expanded active-trail dropdown">
                          <a href="{{ pccp_url }}/countries" title="" class="active-trail dropdown-toggle active">Country Profiles <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li>
                                  <a href="{{ pccp_url }}/node/49">American Samoa</a>
                              </li>
                              <li>
                                  <a href="{{ pccp_url }}/node/9481">Cook Islands</a>
                              </li>
                              <li>
                                  <a href="{{ pccp_url }}/node/9482">Federated States of Micronesia</a>
                              </li>
                              <li>
                                  <a href="{{ pccp_url }}/node/52">Kiribati</a>
                              </li>
                              <li>
                                  <a href="{{ pccp_url }}/node/53">Marshall Islands</a>
                              </li>
                              <li>
                                  <a href="{{ pccp_url }}/node/54">Nauru</a>
                              </li>
                              <li>
                                  <a href="{{ pccp_url }}/node/55">Niue</a>
                              </li>
                              <li>
                                  <a href="{{ pccp_url }}/node/57">Palau</a>
                              </li>
                              <li>
                                  <a href="{{ pccp_url }}/node/58">Papua New Guinea</a>
                              </li>
                              <li>
                                  <a href="{{ pccp_url }}/node/59">Solomon Islands</a>
                              </li>
                              <li>
                                  <a href="{{ pccp_url }}/node/60">Tokelau</a>
                              </li>
                              <li>
                                  <a href="{{ pccp_url }}/node/61">Tonga</a>
                              </li>
                              <li>
                                  <a href="{{ pccp_url }}/node/62">Tuvalu</a>
                              </li>
                              <li>
                                  <a href="{{ pccp_url }}/node/63">Vanuatu</a>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <a href="http://rtsm.pacificclimatechange.net/">Find Experts</a>
                      </li> #}
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      <!-- Second half of menu -->
                      {# <li>
                          <a href="{{ pccp_url }}/climate-tools">Climate Tools</a>
                      </li>
                      <li class="expanded active-trail dropdown">
                          <a href="{{ pccp_url }}/organisations" title="" class="active-trail dropdown-toggle active">Organisations <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li>
                                  <a href="{{ pccp_url }}/partners">Partners</a>
                              </li>
                              <li>
                                  <a href="{{ pccp_url }}/crop-agency-list">CROP Agency List</a>
                              </li>
                              <li>
                                  <a href="{{ pccp_url }}/donor-database">Donors and Funds</a>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <a href="{{ pccp_url }}/node/22863">About</a>
                      </li>
                      <li>
                          <a href="{{ pccp_url }}/node/24289">Contact</a>
                      </li> #}
                      {# <li>
                          <a href="{{ pccp_url }}/node/24290">Help</a>
                      </li> #}
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
      </div>
      <!-- /.container -->
    </div>
    <!-- /#pccp-navbar -->

    {% if page.navigation or page.navigation_collapsible %}
      <div id="apt-navbar">
        <div class="container">
            <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#apt-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="{{ base_url }} "><img class="logo" src="{{ base_url }}/themes/APT/images/apt-header-logo.png" alt="APT"></a>
                </div>
                {{ page.navigation }}
                <!-- /.navbar-collapse -->
            </div>
        </div>
        <!-- /.container -->
      </div>
      <!-- /#apt-navbar -->
    {% endif %}
</nav>