{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% include '@apt_theme/partials/navigation.html.twig' %}

{# Main #}
{% block main %}
    <main role="main" class="home-page">
      <div class="main-container js-quickedit-main-content">
        <section id="home-banner-area" class="row-fluid home-page-section">
          <div class="container">
            <div class="row">
              <div class="banner-logo col-sm-4 col-xs-8">
                  <img class="img-responsive" src="{{ base_url }}/themes/APT/images/apt-banner-logo.png" alt="Adaptation Project Tool" />                    
              </div>
            </div>
            <div class="row">
              <div class="banner-content col-sm-6 col-xs-12">
                <h2>Supporting an Adaptive &amp; Resilient Pacific</h2>
                <h4>The guided way to plan your climate change adaptation project...</h4>
                <a href="/planning-framework" class="btn btn-primary btn-lg">Start Planning</a>
                
              </div>
              <div class="banner-image col-sm-6 col-xs-12">
                <img class="img-responsive" src="{{ base_url }}/themes/APT/images/home-tool-screenshot.png" alt="Adaptation Project Tool" />  
              </div>
            </div> <!-- /.row -->
          </div> <!-- /.container -->
          <div class="container-fluid banner-text"> 
            <div class="row-fluid"> 
              <div class="container">
                <div class="row">
                  <h4>The Adaptation Project Tool provides guidance to Pacific Islands Countries in developing and planning climate change projects, resilient development and disaster risk reduction projects.</h4>
                </div>
              </div>
            </div> <!-- /.row-fluid -->
          </div> <!-- /.container-fluid -->
        </section>
        <section id="apt-features" class="row-fluid text-center">
          <div class="container">
            <div class="row">
              <div class="separator"></div>
              <h1 class="section-heading">How Can the Tool Help You?</h1>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="features-icon"><i class="fa fa-flag fa-3x"></i></div>
                <h4 class="block-heading">Understand Adaptation Planning</h4>
                <p>What is Adaptation Planning? Learn about the concept of adaptation planning and the framework for understanding the approach to planning a climate related project.</p>
                <a href="what-is-adaptation-planning" class="btn btn-primary btn-block visible-xs">Learn More</a>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="features-icon"><i class="fa fa-question-circle-o fa-3x"></i></div>
                <h4 class="block-heading">Plan a Climate Change Adaptation Project</h4>
                <p>Our interactive guided planning stages will help you decide what’s relevant to your project and output a template and resources for developing your official project documentation.</p>
                <a href="planning-framework" class="btn btn-primary btn-block visible-xs">Start Planning</a>
              </div>
              {# <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="features-icon"><i class="fa fa-map-signs fa-3x"></i></div>
                <h4 class="block-heading">Discover Adaptation Guidance for Sectors</h4>
                <p>Explore our guidance information for climate change adaptation in different environmental sectors in the Pacific region.</p>
                <a href="guidance-for-sectors" class="btn btn-primary btn-block visible-xs visible-sm">Discover Guidance</a>
              </div> #}
              <div class="col-xs-12 col-sm-4">
                <div class="features-icon"><i class="fa fa-file-text fa-3x"></i></div>
                <h4 class="block-heading">Browse Adaptation Planning Resources</h4>
                <p>Browse through resources that are suggested throughout this website that may assist in planning your adaptation project.</p>
                <a href="resources-and-support" class="btn btn-primary btn-block visible-xs">Browse Resources</a>
              </div>
            </div>
            <div class="row visible-sm visible-md visible-lg">
              <div class="col-sm-4">
                <a href="/what-is-adaptation-planning" class="btn btn-primary btn-block">Learn More</a>
              </div>
              <div class="col-sm-4">
                <a href="/planning-framework" class="btn btn-primary btn-block">Start Planning</a>
              </div>
              {# <div class="col-sm-3">
                <a href="/guidance-for-sectors" class="btn btn-primary btn-block">Discover Guidance</a>
              </div> #}
              <div class="col-sm-4">
                <a href="/resources-and-support" class="btn btn-primary btn-block">Browse Resources</a>
              </div>
            </div> <!-- end container -->
          </div> <!-- end row -->
        </section>

        <section id="apt-who-for" class="row-fluid text-center">
          <div class="container">
            <div class="row">
              <div class="separator"></div>
              <h1 class="section-heading">Who is the Tool For?</h1>
            </div>
            <div class="row">
              <h3>This tool is designed for planners and practitioners from Pacific Island Counties and other bodies interested in developing projects that integrate consideration of climate change and disaster risk reduction.</h3>
            </div>
          </div>
        </section>

        {# <section id="testimonials" class="row-fluid">
          <div class="container">
            <div class="row">
              <h1 class="block-heading text-center">Testimonials</h1>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="home-testimonials-panel panel panel-default panel-front">
                  <div class="panel-badge quote-icon"><i class="fa fa-quote-left fa-2x"></i></div>
                  <div class="panel-body text-center">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                    <h6 class="block-heading">- Jane Doe, Vanuatu</h6>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="home-testimonials-panel panel panel-default panel-front">
                  <div class="panel-badge quote-icon"><i class="fa fa-quote-left fa-2x"></i></div>
                  <div class="panel-body text-center">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                    <h6 class="block-heading">- John Smith, Samoa</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section> #}
      </div>
    </main>
{% endblock %}
<div id="page-top" class="container-fluid">
  <div class="row">
      {# Highlighted #}
      {% if page.highlighted %}
        {% block highlighted %}
          <div class="highlighted">{{ page.highlighted }}</div>
        {% endblock %}
      {% endif %}

      <div class="container">

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

      </div>

      {# Help #}
      {% if page.help %}
        {% block help %}
          {{ page.help }}
        {% endblock %}
      {% endif %}
  </div>
</div>

{# Content #}
{% if page.content %}
  <section>
    {# Content #}
    {% block content %}
      <a id="main-content"></a>
      {{ page.content }}
    {% endblock %}
  </section>
{% endif %}

{% include '@apt_theme/partials/footer-partners.html.twig' %}

{% include '@apt_theme/partials/footer.html.twig' %}


