{#
/**
 * @file
 * Default theme implementation to display the sector guideline pages.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% include '@apt_theme/partials/navigation.html.twig' %}

<div id="stage-{{ page_identifier }}">
  <header role="banner" id="tool-stage-header" class="main container-fluid">
    <div class="row-fluid">
      <div class="container">  
        <div class="row row-eq-height">
          {% if page.header %}
            {% block header %}
              <div id="header-left" class="col-sm-8">
                <div class="header-content">

                  {{ page.header }}

                </div>
              </div>
              
            {% endblock %}
          {% endif %}
        </div>
      </div>
    </div>
  </header>

  {# Main #}
  {% block main %}
    <main role="main" id="tool-stage-page">

      <div class="main-container js-quickedit-main-content">
          {% if page.highlighted or action_links or page.help %}
            <div id="page-top" class="container-fluid">
              <div class="row">
                  {# Highlighted #}
                  {% if page.highlighted %}
                    {% block highlighted %}
                      <div class="highlighted">{{ page.highlighted }}</div>
                    {% endblock %}
                  {% endif %}

                  <div class="container">
                    {# Action Links #}
                    {% if action_links %}
                      {% block action_links %}
                        <ul class="action-links">{{ action_links }}</ul>
                      {% endblock %}
                    {% endif %}
                  </div>

                  {# Help #}
                  {% if page.help %}
                    {% block help %}
                      {{ page.help }}
                    {% endblock %}
                  {% endif %}
              </div>
            </div>
          {% endif %}

          
        <div id="app">
          {# Content #}
          {% if page.content %}
            <section>
              {# Content #}
              {% block content %}
                <a id="main-content"></a>
                {% if is_admin %}
                  <div class="container-fluid">
                      <a href="/node/{{node.id}}/edit" id="edit-stage-content-btn" class="btn btn-default"><i class="fa fa-edit"></i> Edit Content</a>
                  </div>
                  {% endif %}      

                <stage></stage>
              {% endblock %}
            </section>
          {% endif %}
        </div>
      </div>
    </main>
  {% endblock %}
</div>

{% include '@apt_theme/partials/footer-partners.html.twig' %}

{% include '@apt_theme/partials/footer.html.twig' %}
</div>
</div>

