{#
/**
 * @file
 * Default theme implementation to display the sector guideline pages.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% include '@apt_theme/partials/navigation.html.twig' %}

{# Main #}
{% block main %}
  <main role="main" id="sector-page" data-spy="scroll" data-target="#spy-sidebar" style="background-image: url({{ base_url }}/themes/APT/images/coastal-risk-bg.jpg);">
    <!-- Sidebar -->
    <div id="sector-sidebar">
      <div id="spy-sidebar">
        <ul class="sidebar-nav nav">
            <li class="sidebar-brand active">
                <a href="#sector-page">
                    Coastal Risk
                </a>
            </li>
            <li>
              <a href="#considerations-a">Key Considerations</a>
              <ul>
                <li><a href="#considerations-a">a. Sea level rise</a></li>
                <li><a href="#considerations-b">b. Impact of climate change on coastal hazards erosion and inundation</a></li>
                <li><a href="#considerations-c">c. Impacts on coastal ecosystems (coral reefs and mangroves)</a></li>
                <li><a href="#considerations-d">d. Current usage of the coastal zone and trends</a></li>
              </ul>
            </li>
            <li>
                <a href="#approaches-a">Common Approaches</a>
                <ul>
                  <li><a href="#approaches-a">a. Generic adaptation strategies</a></li>
                  <li><a href="#approaches-b">b. Coastal hazard studies</a></li>
                  <li><a href="#approaches-c">c. Coastal process modelling</a></li>
                  <li><a href="#approaches-d">d. Three pass assessment framework</a></li>
                  <li><a href="#approaches-e">e. Land use planning – strategic and development controls</a></li>
                </ul>
            </li>
            <li>
                <a href="#studies-a">Case Studies</a>
                <ul>
                  <li><a href="#studies-a">a. Planning mechanism – planned retreat Choiseul - Solomon Island</a></li>
                  <li><a href="#studies-b">b. Coastal hazard study – Port Vila – Vanuatu</a></li>
                  <li><a href="#studies-c">c. SAMOA, COMMUNITY-BASED INTEGRATED COASTAL PROTECTION</a></li>
                </ul>
            </li>
            <li>
                <a href="#references-a">References</a>
            </li>
        </ul>
      </div>
    </div>
    <!-- /#sector-sidebar -->

    <div class="main-container js-quickedit-main-content">
      <div id="sector-buttons">
        <a href="#" class="btn btn-primary btn-sm pull-left" id="menu-toggle"><i class="fa fa-bars"></i> Content Menu</a>
        <a href="#" class="btn btn-primary btn-sm pull-left" id="sector-help" data-toggle="modal" data-target="#sector-guide-help-modal"><i class="fa fa-question-circle"></i></a>
        
        <a href="#" class="btn btn-primary btn-sm pull-right" id="sector-download"><i class="fa fa-file-pdf-o"></i> Download</a>
        <a href="#" class="btn btn-primary btn-sm pull-right" id="sector-print-page"><i class="fa fa-print"></i> Print Page</a>
      </div>

        {% if page.highlighted or action_links or page.help %}
          <div id="page-top" class="container-fluid">
            <div class="row">
                {# Highlighted #}
                {% if page.highlighted %}
                  {% block highlighted %}
                    <div class="highlighted">{{ page.highlighted }}</div>
                  {% endblock %}
                {% endif %}

                <div class="container">
                  {# Action Links #}
                  {% if action_links %}
                    {% block action_links %}
                      <ul class="action-links">{{ action_links }}</ul>
                    {% endblock %}
                  {% endif %}
                </div>

                {# Help #}
                {% if page.help %}
                  {% block help %}
                    {{ page.help }}
                  {% endblock %}
                {% endif %}
            </div>
          </div>
        {% endif %}
        
        {# Content #}
        {% if page.content %}
          <section>
            {# Content #}
            {% block content %}
              <a id="main-content"></a>
              {{ page.content }}
            {% endblock %}
          </section>
        {% endif %}

    </div>

    <div class="modal fade" id="sector-guide-help-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Using This Sector Guideline</h4>
          </div>
          <div class="modal-body">
            <p>This is where some help information about the sector guidelines will go.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </main>
{% endblock %}

{% include '@apt_theme/partials/footer-partners.html.twig' %}

{% include '@apt_theme/partials/footer.html.twig' %}


