{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% include '@apt_theme/partials/navigation.html.twig' %}

{% include '@apt_theme/partials/header.html.twig' %}

{# Main #}
{% block main %}
  <main id="main-section" role="main" class="container-fluid">
    
    <div class="row main-container {{ container }} js-quickedit-main-content">


      {# Sidebar First #}
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}

      {# Content #}
      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-sm-6',
          page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
          page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9',
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
        ]
      %}

      <section{{ content_attributes.addClass(content_classes) }}>

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}

          <script type="text/javascript">
            // var theme_url = "{{ url('<front>') }}" + "themes/APT/";
          </script>
            


          <div id="resources-app" class="container">
            <div class="row">
              <div class="col-xs-12">
                <div id="filter-panel" class="panel panel-default">
                  <div class="panel-body">
                    <form class="form-inline">
                      <div class="filters-left pull-left">
                        {# <div class="form-group">
                          <select  class="form-control selectpicker"  title="Resource Type">
                            <option>Document</option>
                            <option>Web Page</option>
                            <option>Tool</option>
                            <option>Template</option>
                            <option>Guideline</option>
                            <option>Other</option>
                          </select>
                        </div> #}
                        &nbsp;&nbsp;
                        <div class="form-group">
                         {#  <select class="form-control selectpicker" multiple title="Resource Topic">
                            <option>Topic 1</option>
                            <option>Topic 2</option>
                            <option>Topic 3</option>
                          </select> #}
                        </div>
                      </div>
                      <div class="filters-right pull-right">
                        {# <div class="form-group">
                          <label>Sort By</label>
                          <div class="btn-group">
                            <button type="button" class="btn btn-primary active">Title</button>
                            <button type="button" class="btn btn-primary">Date</button>
                          </div>
                        </div> #}
                        &nbsp;&nbsp;
                        <div class="form-group">
                          <label>View As</label>
                          <div class="btn-group">
                            <button id="btn-card-view" type="button" class="btn btn-secondary active">Cards</button>
                            <button id="btn-list-view" type="button" class="btn btn-secondary">List</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            

             <!-- Nav tabs -->
            {# <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#stage1" aria-controls="stage1" role="tab" data-toggle="tab">
                <small>Stage 1</small>
                <br/>
                Concept Identification
                </a></li>
              <li role="presentation"><a href="#stage2" aria-controls="stage2" role="tab" data-toggle="tab">
                <small>Stage 2</small>
                <br/>
                Concept Development
                </a></li>
              <li role="presentation"><a href="#stage3" aria-controls="stage3" role="tab" data-toggle="tab">
                <small>Stage 3</small>
                <br/>
                Project Preparation &amp; Appraisal
                </a></li>
              
            </ul> #}

            <!-- Cards -->

            <div id="resource-cards" class="row list-group">

              <div v-for="(item, index) in resources" class="col-xs-6 col-sm-4 col-md-3">
                
                <div class="list-group-item" v-bind:class="item.resource_types | classname">
                  <div class="content">
                    <h4>${item.title | truncate}</h4>
                  
                    <p>
                      <span v-if="item.body" v-html="item.body"></span>
                      <a v-if="(item.url)" class="read-more btn btn-default btn-sm" :href="item.url" target="_blank">Access Resource <i class="fa fa-angle-right"></i></a>
                      
                    </p>
                  </div>
                </div>

              </div>

            </div>

            <!-- List -->

            <div id="resource-list" class="row list-group">

              <div class="col-xs-12">
                
                <div v-for="(item, index) in resources" class="list-group-item" v-bind:class="item.resource_types | classname">
                  <div class="content">
                    <h4>${item.title | truncate}</h4>
                  
                    <p>
                      <span v-if="item.body" v-html="item.body"></span>
                      <a v-if="(item.url)" class="read-more btn btn-default btn-sm" :href="item.url" target="_blank">Access Resource <i class="fa fa-angle-right"></i></a>
                      
                    </p>
                  </div>
                </div>

              </div>

            </div> 
 

      {% endblock %}

      </section>

      {# Sidebar Second #}
      {% if page.sidebar_second %}
        {% block sidebar_second %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endblock %}
      {% endif %}
    </div>
  </main>
{% endblock %}

{% include '@apt_theme/partials/footer-partners.html.twig' %}

{% include '@apt_theme/partials/footer.html.twig' %}

<script type="text/javascript">
    (function() {
    var s = document.createElement("script");
    s.type = "text/javascript";
    s.async = true;
    s.src = '//api.usersnap.com/load/'+
            'c2fd4f0d-9372-4b27-adf8-27df575dab6b.js';
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
    })();
</script>


<script type="text/javascript">


</script>

