{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @ingroup templates
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}
	<div class="footer-top-row row">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<h2>Enquiries &amp; Feedback</h2>

					<h4>We’d love to hear from you! Please complete our <a href="https://docs.google.com/forms/d/11OrIHNIWuk_RFRfwHWoAqCBwRzl1rfVc9B1ynvXYVVU/viewform?c=0&amp;w=1">Feedback Form</a> or <a href="http://localhost/pccp/node/24289">Contact Us</a> with any questions or information.</h4>

					<h2>PCCP on Social Media</h2>

					<h4>Follow us on Facebook and Twitter.</h4>

					<p><a href="#"><i class="fa fa-facebook fa-2x"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-twitter fa-2x"></i></a></p>
				</div>
				<div class="col-sm-6">
					<h2>Sign Up to the Newsletter</h2>

					<h4>Stay up to date with latest news, events and useful resources in the <a href="http://www.sprep.org/pacific-environment-information-network/pein">Pacific Climate Change Information Network</a> by subscribing to the “Climate Change Matters Newsletter”.&nbsp;</h4>

					<p><a href="http://lyris.sprep.org:81/read/all_forums/subscribe?name=pacific_climate_infonet&amp;page=all_forums" class="btn btn-info">Go to Subscription</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom-row row">
		<div class="container">
			<div class="row"> 
				<div class="col-xs-12">
					<div{{ attributes.addClass(classes) }}>
						{{ content }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}
