/* Styles for the APT home page */

#home-banner-area {
  position: relative;
  padding: 30px 0;
  background: linear-gradient(0deg, rgba(7, 114, 160, 0.6), rgba(7, 114, 160, 0.6)), url('../images/home-banner-bg.png');
  background-size: cover;
  background-attachment: fixed;
  color: $white;
  @media (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  h2 {
  	color: $green-x-light;
  	margin: 30px 0;
  	font-weight: 500;
  }
  h4 {
  	color: $white;
    margin: 30px 0;
  }
  .banner-content {
   margin-bottom: 100px;
  }
  .banner-image {
    margin-top: -40px;
    margin-bottom: 80px;
  }
  .banner-text {
    background: rgba(13,118,52,0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 4px solid $green-light;
    text-align: center;
    padding: 20px 0;
    h4 {
      color: white;
      strong {
        font-weight: 700;
      }
      @media (max-width: 767px) {
        font-size: 18px;
        padding: 15px;
      }
    }
  }
}
#apt-features {
  background: $white;
  position: relative;
  z-index: 1;
  padding-bottom: 60px;
  .features-icon {
    background: $green-light;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: auto;
    border-radius: 50%;
    color: $white;
    padding: 10px;
  }
  .btn {
    @media (max-width: 991px) {
      margin-bottom: 15px;
    }
  }
}
#apt-who-for {
  background: linear-gradient(0deg, rgba(41, 135, 79, 0.8), rgba(41, 135, 79, 0.8)), url('../images/home-who-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: $white;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 60px;
  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
}
#testimonials {
  background: $green url('../images/sprep-pattern.png');
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
  h1 {
    color: $white;
    margin-bottom: 60px;
  }
  .home-testimonials-panel {
    margin-bottom: 15px;
    .panel-badge {
      padding: 15px;
    }
    p {
      margin-top: 20px;
    }
  }
}