#resources-app {
	#filter-panel {
		margin-bottom: 30px;
		.form-group {
			margin-top: 0;
			margin-bottom: 0;
		}
		.dropdown-menu > li > a {
			color: $gray-darker;
		}
		.filters-left.pull-left {
			@media (max-width: 767px) {
				float: none !important;
				margin-bottom: 15px;
			}
		}
		.filters-right.pull-right {
			@media (max-width: 767px) {
				float: none !important;
			}
		}
	}
	.list-group {
		.col-md-3 {
			margin-bottom: 1.5em;
		}
		.list-group-item {
			padding: 0;
			overflow-y: hidden;
			border-color: $gray-darker;
			border-width: 2px;
			.type {
			    padding: 0.3em 0;
			    /* width: 100%; */
			    text-align: center;
			    display: block;
			    background: $gray-darker;
			    /* border: 1px solid; */
			    font-size: 0.9em;
			    text-transform: uppercase;
			    color: white;
			}
			.content {
				padding:15px;
				a {
					h4 {
						margin-top: 0;
						color: $brand-primary;
					}
				}
				p {
					font-size: 11px;
					margin-bottom: 10px;
				}
				span.tags {
					font-size: 12px;
					text-transform: uppercase;
					color: lighten(black, 70%);
					font-weight: 500;
					line-height: normal;
			    	display: inline-block;
			    	letter-spacing: -0.1px;
				}
				.badge {
					background: $brand-tertiary;
				}
				.read-more {
					position: absolute;
    				bottom: 10px;
    				right: 10px;
				}
			}
		}
		.web-page {
			border-color: $brand-tertiary;
			.type {
				background: $brand-tertiary;
			}
		}
		.document {
			border-color: $brand-secondary;
			.type {
				background: $brand-secondary;
			}
		}
		.template {
			border-color: $brand-primary;
			.type {
				background: $brand-primary;
			}
		}
	}

	.col-md-3.template:nth-child(4n+1) {
	    clear: left;
	}

	#resource-cards.list-group {
		.list-group-item {
			min-height: 260px;
		}
	}

	#resource-list.list-group {
		display: none;
		.list-group-item {
			margin: 10px 0;
    		border-radius: 4px;
		}
	}
}