/* Styles for the Sector Guidance Pages */

#sector-page {
	overflow-x: hidden;
	background-color: $gray;
	background-size: cover;
	background-attachment: fixed;
	/* Styles for the side menu */
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position: relative;
	p {
	  font-size: 16px;
	}
	#sector-sidebar {
	  z-index: 1000;
	  position: fixed;
	  left: 250px;
	  width: 0;
	  height: 100%;
	  margin-left: -250px;
	  overflow-y: auto;
	  background: $brand-tertiary;
	  -webkit-transition: all 0.5s ease;
	  -moz-transition: all 0.5s ease;
	  -o-transition: all 0.5s ease;
	  transition: all 0.5s ease;
	}
	.main-container {
		width: 100%;
		position: relative;
		padding: 15px;
		#sector-buttons {
			position: fixed;
		    top: 126px;
		    left: 10px;
		    right: 10px;
		    z-index: 1;
		    -webkit-transition: all 0.5s ease;
	  		-moz-transition: all 0.5s ease;
	  		-o-transition: all 0.5s ease;
	  		transition: all 0.5s ease;
		    .btn {
		    	margin: 0 2px;
		    }
		}
		.container {
			width: auto;
		}
	}
	&.show-menu {
		padding-left: 250px;
		#sector-sidebar {
		  width: 250px;
		}
		.main-container {
			position: relative;
			margin-right: 0;
			#sector-buttons {
				left: 260px;
			}
			.fixed-heading {
				padding-left: 250px;
			}
		}
	}

	/* Sidebar Styles */

	.sidebar-nav {
	  position: absolute;
	  top: 0;
	  width: 250px;
	  margin: 0;
	  padding: 0;
	  list-style: none;
	  li {
		text-indent: 0;
		line-height: 30px;
		a {
		  padding-left: 20px;
		  display: block;
		  text-decoration: none;
		  color: $gray-lighter;
		  &:focus,
		  &:hover,
		  &:active {
			text-decoration: none;
			color: $white;
			background: rgba(0, 0, 0, 0.2);
		  }
		}
		> ul {
		  display: none;
		  margin: 0;
	  	  padding: 0;
		  list-style: none;
		  border-top: 1px solid $green-x-light;
		  li {
			font-size: 14px;
			line-height: 20px;
			a {
			    padding-top: 6px;
			    padding-left: 40px;
			    padding-bottom: 6px;
			    padding-right: 4px;
			}
		  }
		}
	  }
	  > li {
		border-bottom: 1px solid $green-x-light;
	  }
	  .sidebar-brand {
		font-size: 18px;
		line-height: 40px;
	  }
	  .active {
	  	text-decoration: none;
		color: $white;
		background: rgba(0, 0, 0, 0.2);
		ul {
		  display: block;
		}
	  }
	}

	.sector-panel-wrapper {
		position: relative;
		padding-top: 100px;
		@media (max-width: 767px) {
			padding-top: 50px;
    	}
		.sector-panel-heading {
		    text-align: center;
		    position: absolute;
		    left: 0;
		    right: 0;
	    	margin-left: auto;
	    	margin-right: auto;
	    	margin-top: -40px;
	    	z-index: 1;
		    h2 {
		    	display: inline-block;
		    	width: 500px;
		    	margin: 0;
			    padding: 10px 20px;
			    border-radius: 6px;
			    color: $white;
			    background: $brand-tertiary;
			    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
		    	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
		    	@media (max-width: 767px) {
		    		width: 80%;
					font-size: 22px;
		    	}
		    }
		    &.fixed-heading {
		    	position: fixed;
		    	top: 213px;
		    }
		}
	}

	.sector-panel {
		background-color: rgba(255,255,255,0.8);
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		@media (max-width: 767px) {
			width: 90%;
			margin-left: 5%;
			margin-right: 5%;
		}
		figure {
			img {
				width: 100%;
			}
			figcaption {
				font-size: 12px;
    			font-style: italic;
			}
		}
	}
}

/* Correct fixed positioning top offset when 
 * drupal toolbar displayed */
body.toolbar-fixed {
	#sector-page {
		.main-container {
			#sector-buttons {
				top: calc(126px + 39px); /* Current top plus toolbar height */
			}
		}
		.sector-panel-wrapper {
			.sector-panel-heading {
				&.fixed-heading {
					top: calc(213px + 39px); /* Current top plus toolbar height */
				}
			}
		}
	}
}