.bg-tool-stage1 {
	background: $tool-stage1;
}
.bg-tool-stage2 {
	background: $tool-stage2;
}
.bg-tool-stage1-dark {
	background: darken($tool-stage1, 15%);
}
.bg-tool-stage2-dark {
	background: darken($tool-stage2, 15%);
}
.bg-tool-stage1-light {
	background: darken($tool-stage1, 10%);
}
.bg-tool-stage2-light {
	background: darken($tool-stage2, 10%);
}

#tool-page {
	margin-top: -30px;
	background: $gray-light url('../images/sprep-pattern-dark.png');
  	background-size: contain;
  	background-attachment: fixed;
}

#tool-stage-options {
	margin-top: 40px;
	.tool-stage-panel {
	    margin-bottom: 15px;
	    background: $brand-success;
	    a {
			display: block;
			text-decoration: none;
			&:hover {
				text-decoration: none;
				.panel-body {
					text-decoration: none;
				}
			}
		}
		&:hover {
			cursor: pointer;
			background-color: darken($brand-success, 10%) !important;
			h4, p {
				color: $white;
			}
			.fa {
				color: $white;
			}
		}
		&.selected {
			.panel-badge {
	    		display: block;
	    	}
		}
	    .panel-badge {
	      	padding: 15px;
	      	display: none;
	    }
	    .stage-panel-top {
	    	padding-top: 20px;
	    	padding-bottom: 30px;
	    	min-height: 160px;
	    	@media (max-width: 767px) {
	    		min-height: auto;
	    	}
    		p {
		      margin: 0;
		      font-size: 24px;
		      font-weight: 600;
		    }
	    }
	    .stage-panel-bottom {
	    	border-top: 1px solid $white;
	    	padding-top: 20px;
	    	padding-bottom: 10px;
		    h1, h2, h3, h4, h5, h6 {
		    	color: $white;
		    }
		}
		&#tool-stage1-panel {
			background: $tool-stage1;
			&:hover {
				background-color: darken($tool-stage1, 10%) !important;
			}
		}
		&#tool-stage2-panel {
			background: $tool-stage2;
			&:hover {
				background-color: darken($tool-stage2, 10%) !important;
			}
		}
	}
}
#tool-stage-info {
	margin-top: 30px;
	.tool-stage-info-panel {
		display: none;
	}
}
#tool-stage-header {
  background: $gray url('../images/sprep-pattern-dark.png');
  background-size: contain;
  background-attachment: fixed;
  padding: 10px;
  #header-left,
  #header-right {
    min-height: 100px;
    display: table;
    @media (max-width: 582px) {
      min-height: 0;
    }
    .header-content {
      display: table-cell;
      vertical-align: bottom;
      h1, h2, h3, h4, h5, h6 {
      	color: $black;
      }
      .btn {
        margin-right: 4px;
        &:last-child {
          margin-right: 0;
        }
      }
      .btn-group {
        .btn {
          margin-right: 0;
        }
      }
    }
  }
  #header-left {
    text-align: left;
  }
  #header-right {
    text-align: right;
  }
  .breadcrumb {
  	position: absolute;
  	top: 10px;
  	padding: 6px 12px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.5);
    color: $green-x-dark;
    .active {
    	color: $green-x-dark;
    }
  }
}
#app {
	overflow-x: hidden;
}
#tool-stage-page {
	margin-top: -30px;
}

#edit-stage-content-btn {
	position: absolute;
    right: 30px;
    top: 20px;
}

#tool-stage-navbar-container {
	/*height: 150px;*/
	#tool-stage-navbar {
		background: $gray-base;
	    /* position: fixed; */
	    position: relative;
	    /* -webkit-backface-visibility: hidden; */
	    /* height: 150px; */
	    width: 100%;
	    /*bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: 1;*/
	    text-align: center;
	    padding-left: 50px;
	    padding-right: 50px;
	    padding-top: 40px;
	    padding-bottom: 30px;
	    #next-step-button {
	    	position: absolute;
	    	right: 10px;
	    	top: -30px;
	    	#next-step-title {
	    		text-transform: none;
	    	}
	    }
	    #start-stage-btn {
	    	position: absolute;
	    	left: 50%;
	    	transform: translate(-50%, -50%);
	    	top: 0;
	    }
	    #stage-back-btn {
	    	position: absolute;
	    	left: 50px;
	    	transform: translateY(-50%);
	    	top: 0;
	    }
	    #stage-next-btn {
	    	position: absolute;
	    	right: 50px;
	    	transform: translateY(-50%);
	    	top: 0;
	    }
	    #tool-nav-steps {
	    	display: inline-block;
	    	width: auto; /* width: 100%; */
	    	height: auto; /* height: 150px; */
	    	margin-left: auto;
	    	margin-right: auto;
	    	/*overflow-x: scroll;
	    	overflow-y: hidden;
	    	white-space: nowrap;*/
			li {
				display: inline-block;
				width: auto; /* width: 160px; */
				height: auto; /* height: 100px; */
				margin: 5px;
				position: relative;
			    a {
					padding: 10px;
					background: $green-dark;
					display: table;
					text-align: center;
					width: 100%;
					height: 100%;
					white-space: normal;
					border-radius: 4px;
					color: $white;
					/*opacity: 0.8;*/
					.tool-nav-step-content {
						display: table-cell;
				    	vertical-align: middle;
					}
					&:hover {
						text-decoration: none;
						color: $white;
						background: $brand-tertiary;
						opacity: 1;
					}
				}
				&.active {
					a {
						background: $brand-tertiary;
						opacity: 1;
					}
				}
			}
			.slick-prev,
	        .slick-next {
	            background: $brand-tertiary;
	            border-radius: 50%;
	            border: none;
	            color: #fff;
	            text-align: center;
	            text-indent: -9999px;
	            cursor: pointer;
	            display: block;
	            font-size: 16px;
	            height: 30px;
	            width: 30px;
	            line-height: 0.1; /* Collapse the original line */
	            margin-top: -20px;
	            outline: none;
	            padding: 6px;
	            position: absolute;
	            top: 50%;
	            z-index: 1;
	            &:hover {
	                background: darken($brand-tertiary, 10%);
	            }
	            &.slick-disabled {
	            	opacity: 0;
	            }
	        }

	        .slick-prev {
	            left: 10px;
	            &:after {
	                font-family: FontAwesome;
	                content: "\f053";
	                text-indent: 0;
	                text-align: center;
	                display: block;
	                line-height: initial; /* New content takes up original line height */
	            }
	        }

	        .slick-next {
	            right: 10px;
	            &:after {
	                font-family: FontAwesome;
	                content: "\f054";
	                text-indent: 0;
	                text-align: center;
	                display: block;
	                line-height: initial; /* New content takes up original line height */
	            }
	        }
	    }
	}
}
#tool-stage-navbar-marker {
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.tool-stage-body {
	padding: 30px;
	&:first-child {
		ol {
			li {
				margin-bottom: 6px;
			}
		}
		ul {
			li {
				margin-bottom: 6px;
			}
		}
	}
}
.tool-step-title {
	padding-bottom: 10px;
	color: $gray-base;
	border-bottom: 1px solid $gray-darker;
}
.tool-step-content {
	padding-bottom: 40px;
	.panel-notebook {
	    position: relative;
	    max-width: 800px;
	    min-width: 400px;
	    min-height: 300px;
	    margin: 0 auto;
	    background-color: $white;
	    box-shadow: 0 2px 4px rgba(0,0,0,.2);
	    overflow: hidden;
	    &:before {
		    content: '';
		    position: absolute;
		    top: 0; bottom: 0; left: 0;
		    width: 60px;
		    background: radial-gradient($gray-darker 6px, transparent 7px) repeat-y;
		    background-size: 30px 30px;
		    border-right: 3px solid $red;
		    box-sizing: border-box;
		}
		.panel-body {
			margin-left: 60px;
    		margin-top: 30px;
    		margin-bottom: 30px;
    		padding-top: 0;
    		min-height: 230px;
		    background: linear-gradient(transparent, transparent 28px, lighten($blue-x-light, 20%) 28px);
		    background-size: 30px 30px;
		    line-height: 30px;
		    table {
		    	width: 90% !important;
    			max-width: 500px;
		    	margin-top: 40px;
		    	margin-bottom: 20px;
		    	margin-left: auto;
		    	margin-right: auto;
				color: $black;
				background: #ffc;
				/* Firefox */
				-moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
				/* Safari+Chrome */
				-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.5);
				/* Opera */
				box-shadow: 5px 5px 7px rgba(33,33,33,.5);
		    	-o-transform: rotate(4deg);
				-webkit-transform: rotate(4deg);
				-moz-transform: rotate(4deg);
				position: relative;
				&:before {
				    position: absolute;
				    z-index: 1;
				    left: -15px;
				    top: -20px;
				    content: "";
					display: block;
					width: 120px;
					height: 40px;
					margin: auto;
					background: rgba(255,250,240,0.7);
					-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
					-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
					box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
					-webkit-transform: rotate(-12deg);
					-moz-transform: rotate(-12deg);
					transform: rotate(-12deg);
				}
		    	td {
		    		width: 50%;
		    		text-align: center;
		    		font-family: "Comic Sans MS", sans-serif;
		    		padding-top: 20px;
		    		p {
		    			line-height: normal;
		    		}
		    		img {
		    			margin: 15px 0;
		    		}
		    	}
		    }
		    h3 {
		    	line-height: 30px;
		    	margin-top: 0;
		    	margin-bottom: 30px;
		    }
		    p {
		    	line-height: 30px;
		    	margin-bottom: 0;
		    }
		    form {
		    	.form-group {
		    		margin-top: 0;
		    		margin-bottom: 0;
		    	}
		    	label {
		    		margin-bottom: 0;
		    	}
		    	.form-control {
		    		height: 30px;
    				padding: 4px 12px;
    				background-color: #e6e6e6 !important;
		    	}
		    	.radio {
		    		margin-top: 0;
				    margin-bottom: 0;
				    line-height: 30px;
				    height: 30px;
		    	}
		    	.radio-inline {
				    margin-top: 0;
				    line-height: 24px;
				    height: 30px;
		    	}
		    }
		}
	}
	.tool-step-content-right {
		.panel {
			.block-heading:first-child {
				padding-top: 0;
			}
		}
	}
}
.step-modal {
	.modal-dialog {
		@media (min-width: 768px) {
			width: 800px;
		}
	}
}
.resource-checkbox {
	margin-bottom: 15px;
	&.unchecked {
		.btn-resource {
			background-color: $gray-dark;
			border-color: $gray-dark;
			&:hover,
			&:focus,
			&:active {
			  background-color: darken($gray-dark, 10%);
			  border-color: darken($gray-dark, 10%);
			}
		}
	}
}
.documents-sticky-note {
	width: 50% !important;
	max-width: 500px;
	padding: 30px 15px;
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	color: $black;
	background: #ffc;
	/* Firefox */
	-moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
	/* Safari+Chrome */
	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.5);
	/* Opera */
	box-shadow: 5px 5px 7px rgba(33,33,33,.5);
	-o-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	position: relative;
	&:before {
	    position: absolute;
	    z-index: 1;
	    left: -15px;
	    top: -20px;
	    content: "";
		display: block;
		width: 120px;
		height: 40px;
		margin: auto;
		background: rgba(255,250,240,0.7);
		-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
		-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
		box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
		-webkit-transform: rotate(-12deg);
		-moz-transform: rotate(-12deg);
		transform: rotate(-12deg);
	}
	table {
		width: 100%;
		td {
			width: 50%;
			text-align: center;
			font-family: "Comic Sans MS", sans-serif;
			padding-top: 20px;
			p {
				line-height: normal;
			}
			img {
				margin: 15px 0;
			}
		}
	}
}

#stage-concept-identification {
	#tool-stage-header #header-left .header-content h1 {
  		color: darken($tool-stage1, 10%);
  		&:before {
  			font-family: FontAwesome;
		    content: "\f0eb";
		    display: inline-block;
		    padding-right: 3px;
		    vertical-align: top;
  		}
  	}
  	.tool-step-content {
  		background: lighten($tool-stage1, 30%);
  	}
  	#stage-summary {
		background: darken($tool-stage1, 15%);
		color: $white;
	}

	#tool-stage-navbar-container {
		#tool-stage-navbar .tool-nav li {
			a {
				background: $tool-stage1;
				&:hover {
					background: darken($tool-stage1, 15%);
				}
			}
			&.active {
				a {
					background: darken($tool-stage1, 15%);
				}
			}
		}
	}
}

#stage-concept-development {
	#tool-stage-header #header-left .header-content h1 {
  		color: darken($tool-stage2, 10%);
  		&:before {
  			font-family: FontAwesome;
		    content: "\f040";
		    display: inline-block;
		    padding-right: 3px;
		    vertical-align: top;
  		}
  	}
  	.tool-step-content {
  		background: lighten($tool-stage2, 30%);
  	}
  	#stage-summary {
		background: darken($tool-stage2, 15%);
		color: $white;
	}

	#tool-stage-navbar-container {
		#tool-stage-navbar .tool-nav li {
			a {
				background: $tool-stage2;
				&:hover {
					background: darken($tool-stage2, 15%);
				}
			}
			&.active {
				a {
					background: darken($tool-stage2, 15%);
				}
			}
		}
	}
}
